.page-header
  %h1 Block Chain

.page-body
  %p Work in progress! For the moment, see:
  %a("href" => "https://chrome.google.com/webstore/detail/twitter-block-chain/dkkfampndkdnjffkleokegfnibnnjfah?hl=en") the browser addon
