.jumbotron
  %h1 Twitter Block Chain

  .page-body
    %p
      :markdown
        Server based version of [@satsukitv](https://twitter.com/satsukitv)'s [Twitter Block Chain](https://chrome.google.com/webstore/detail/twitter-block-chain/dkkfampndkdnjffkleokegfnibnnjfah?hl=en) broswer extension. Blocks all the followers of a target user, except the ones you follow.

        For target users with less than 1,000 followers, [Twitter Block Chain](https://chrome.google.com/webstore/detail/twitter-block-chain/dkkfampndkdnjffkleokegfnibnnjfah?hl=en) is a better option.

        Due to technical limitations, this tool does not currently work on target users with greater than 75,000 followers. This limit will be removed in a future update!

    %hr
    %h2 Block Chain Target User:

  - if current_user
    = form_tag '/tools/blockchain', :method => 'post' do
      = text_field_tag :user_name, nil, :placeholder => '@name'
      = submit_tag "Block Chain!",
        :class => 'btn btn-primary btn-sm',
        :data  => {:confirm => 'Are you sure you want to block chain this user? TheBlockBot does not currently provide the means to undo it, and it may take quite some time'}

  - else
    =  link_to 'Sign in with Twitter to use this tool',
      '/auth/twitter',
      :class => 'btn btn-primary'
