.page-header
  %h1 Unblocker / Remove All Blocks

.page-body
  %p Removes all the blocks on your Twitter account. Primarily used for fixing issues caused by misbehaving blocklists / automatic blocking.

- if current_user
  = button_to 'Undo all blocks!',
    unblocker_perform_path,
    :class   => 'btn btn-primary',
    :data    => {confirm: 'Are you sure you want to undo all blocks on your account? This action cannot be undone!!!'} # very irresponsible mixing of rocket and json syntax
- else
  =  link_to 'Sign in with Twitter to use this tool',
    '/auth/twitter',
    :class => 'btn btn-primary'
