---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=6253282
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '181'
    body:
      encoding: ASCII-8BIT
      string: '{"id":6253282,"id_str":"6253282","name":"Twitter API","screen_name":"twitterapi","location":"San
        Francisco, CA","profile_location":null,"description":"The Real Twitter API.
        I tweet about API changes, service issues and happily answer questions about
        Twitter and our API. Don''t get an answer? It''s on my website.","url":"http:\/\/t.co\/78pYTvWfJd","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/78pYTvWfJd","expanded_url":"http:\/\/dev.twitter.com","display_url":"dev.twitter.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":6107436,"friends_count":47,"listed_count":13183,"created_at":"Wed
        May 23 06:01:13 +0000 2007","favourites_count":26,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":3579,"lang":"en","status":{"created_at":"Mon
        Sep 19 17:04:59 +0000 2016","id":777916408437084162,"id_str":"777916408437084162","text":"RT
        @TwitterDev: The attachment_url option for the statuses\/update endpoint is
        now available - details -&gt;  https:\/\/t.co\/9Bl58OdB3V","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"TwitterDev","name":"TwitterDev","id":2244994945,"id_str":"2244994945","indices":[3,14]}],"urls":[{"url":"https:\/\/t.co\/9Bl58OdB3V","expanded_url":"https:\/\/twittercommunity.com\/t\/new-attachment-url-option-is-now-live-on-the-tweet-endpoints\/74270","display_url":"twittercommunity.com\/t\/new-attachme\u2026","indices":[109,132]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Sep 19 17:03:47 +0000 2016","id":777916106405212160,"id_str":"777916106405212160","text":"The
        attachment_url option for the statuses\/update endpoint is now available -
        details -&gt;  https:\/\/t.co\/9Bl58OdB3V","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/9Bl58OdB3V","expanded_url":"https:\/\/twittercommunity.com\/t\/new-attachment-url-option-is-now-live-on-the-tweet-endpoints\/74270","display_url":"twittercommunity.com\/t\/new-attachme\u2026","indices":[93,116]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":41,"favorite_count":55,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":41,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/656927849\/miyt9dpjz77sc0w3d4vj.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/656927849\/miyt9dpjz77sc0w3d4vj.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2284174872\/7df3h38zabcvjylnyfe3_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2284174872\/7df3h38zabcvjylnyfe3_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/6253282\/1431474710","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular"}'
  recorded_at: Wed, 28 Sep 2016 10:48:18 GMT
recorded_with: VCR 3.0.3
