---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=783214
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '181'
    body:
      encoding: ASCII-8BIT
      string: '{"id":783214,"id_str":"783214","name":"Twitter","screen_name":"twitter","location":"San
        Francisco, CA","profile_location":null,"description":"Your official source
        for news, updates and tips from Twitter, Inc. Need help? Visit https:\/\/t.co\/qq1HEzvnrA.","url":"http:\/\/t.co\/5iRhy7wTgu","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5iRhy7wTgu","expanded_url":"http:\/\/blog.twitter.com\/","display_url":"blog.twitter.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/qq1HEzvnrA","expanded_url":"http:\/\/support.twitter.com","display_url":"support.twitter.com","indices":[84,107]}]}},"protected":false,"followers_count":56948920,"friends_count":145,"listed_count":90500,"created_at":"Tue
        Feb 20 14:35:54 +0000 2007","favourites_count":2450,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":3205,"lang":"en","status":{"created_at":"Tue
        Sep 27 22:10:25 +0000 2016","id":780892377313443840,"id_str":"780892377313443840","text":"Take
        a look back at the first of the US presidential #debates between @HillaryClinton
        and @realDonaldTrump:\u2026 https:\/\/t.co\/3FlO5Udnvy","truncated":true,"entities":{"hashtags":[{"text":"debates","indices":[53,61]}],"symbols":[],"user_mentions":[{"screen_name":"HillaryClinton","name":"Hillary
        Clinton","id":1339835893,"id_str":"1339835893","indices":[70,85]},{"screen_name":"realDonaldTrump","name":"Donald
        J. Trump","id":25073877,"id_str":"25073877","indices":[90,106]}],"urls":[{"url":"https:\/\/t.co\/3FlO5Udnvy","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/780892377313443840","display_url":"twitter.com\/i\/web\/status\/7\u2026","indices":[109,132]}]},"source":"\u003ca
        href=\"https:\/\/studio.twitter.com\" rel=\"nofollow\"\u003eMedia Studio\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":182,"favorite_count":565,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"ACDED6","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/657090062\/l1uqey5sy82r9ijhke1i.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/657090062\/l1uqey5sy82r9ijhke1i.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/767879603977191425\/29zfZY6I_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/767879603977191425\/29zfZY6I_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/783214\/1471929200","profile_link_color":"226699","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F6F6F6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular"}'
  recorded_at: Wed, 28 Sep 2016 10:47:51 GMT
recorded_with: VCR 3.0.3
