%h1 TheBlockBot
- if current_user
  = link_to 'Subscribe to block lists',
    block_lists_path,
    :class => 'btn btn-primary'
- else
  =  button_to 'Log In with Twitter',
    '/auth/twitter',
    :class => 'btn btn-primary'
