- model_class = BlockList

- if @user
  .page-header
    %h1= "Reports about #{@user.name}"

  %ul
    - if @user.reports_against.length == 0
      %li None!
    - else
      - @user.reports_against.take(100).reverse_each do |report|
        %li= report.text
    - if @user.reports_against.length > 100
      %li ...
- else
  .page-header
    %h1 User does not exist
