---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=783214
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '181'
    body:
      encoding: ASCII-8BIT
      string: '{"id":783214,"id_str":"783214","name":"Twitter","screen_name":"twitter","location":"San
        Francisco, CA","profile_location":null,"description":"Your official source
        for news, updates and tips from Twitter, Inc. Need help? Visit https:\/\/t.co\/qq1HEzvnrA.","url":"http:\/\/t.co\/5iRhy7wTgu","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5iRhy7wTgu","expanded_url":"http:\/\/blog.twitter.com\/","display_url":"blog.twitter.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/qq1HEzvnrA","expanded_url":"http:\/\/support.twitter.com","display_url":"support.twitter.com","indices":[84,107]}]}},"protected":false,"followers_count":56607336,"friends_count":145,"listed_count":90379,"created_at":"Tue
        Feb 20 14:35:54 +0000 2007","favourites_count":2075,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":3127,"lang":"en","status":{"created_at":"Wed
        Sep 07 23:10:47 +0000 2016","id":773659809660805120,"id_str":"773659809660805120","text":"Welcome
        to week 1, football fans! Make your Tweets a touchdown with new featured #Stickers
        all season long. https:\/\/t.co\/z9XLjhgtd0","truncated":false,"entities":{"hashtags":[{"text":"Stickers","indices":[81,90]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":773658758534746112,"id_str":"773658758534746112","indices":[108,131],"media_url":"http:\/\/pbs.twimg.com\/tweet_video_thumb\/CryWirfVUAAA-XT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/tweet_video_thumb\/CryWirfVUAAA-XT.jpg","url":"https:\/\/t.co\/z9XLjhgtd0","display_url":"pic.twitter.com\/z9XLjhgtd0","expanded_url":"https:\/\/twitter.com\/twitter\/status\/773659809660805120\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":189,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":334,"resize":"fit"},"large":{"w":640,"h":356,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":773658758534746112,"id_str":"773658758534746112","indices":[108,131],"media_url":"http:\/\/pbs.twimg.com\/tweet_video_thumb\/CryWirfVUAAA-XT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/tweet_video_thumb\/CryWirfVUAAA-XT.jpg","url":"https:\/\/t.co\/z9XLjhgtd0","display_url":"pic.twitter.com\/z9XLjhgtd0","expanded_url":"https:\/\/twitter.com\/twitter\/status\/773659809660805120\/photo\/1","type":"animated_gif","sizes":{"small":{"w":340,"h":189,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":334,"resize":"fit"},"large":{"w":640,"h":356,"resize":"fit"}},"video_info":{"aspect_ratio":[160,89],"variants":[{"bitrate":0,"content_type":"video\/mp4","url":"https:\/\/pbs.twimg.com\/tweet_video\/CryWirfVUAAA-XT.mp4"}]}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":126,"favorite_count":503,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"ACDED6","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/657090062\/l1uqey5sy82r9ijhke1i.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/657090062\/l1uqey5sy82r9ijhke1i.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/767879603977191425\/29zfZY6I_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/767879603977191425\/29zfZY6I_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/783214\/1471929200","profile_link_color":"226699","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F6F6F6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular"}'
  recorded_at: Thu, 08 Sep 2016 04:51:29 GMT
recorded_with: VCR 3.0.3
