---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=6253282
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '181'
    body:
      encoding: ASCII-8BIT
      string: '{"id":6253282,"id_str":"6253282","name":"Twitter API","screen_name":"twitterapi","location":"San
        Francisco, CA","profile_location":null,"description":"The Real Twitter API.
        I tweet about API changes, service issues and happily answer questions about
        Twitter and our API. Don''t get an answer? It''s on my website.","url":"http:\/\/t.co\/78pYTvWfJd","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/78pYTvWfJd","expanded_url":"http:\/\/dev.twitter.com","display_url":"dev.twitter.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":6086381,"friends_count":47,"listed_count":13170,"created_at":"Wed
        May 23 06:01:13 +0000 2007","favourites_count":26,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":3577,"lang":"en","status":{"created_at":"Tue
        Jul 12 16:14:06 +0000 2016","id":752898840290791425,"id_str":"752898840290791425","text":"RT
        @TwitterDev: As of today, the REST API will return alt text with a Tweet by
        default. Use of the ''include_ext_alt_text'' parameter is no l\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"TwitterDev","name":"TwitterDev","id":2244994945,"id_str":"2244994945","indices":[3,14]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Tue
        Jul 12 16:09:03 +0000 2016","id":752897568745648128,"id_str":"752897568745648128","text":"As
        of today, the REST API will return alt text with a Tweet by default. Use of
        the ''include_ext_alt_text'' parameter is no longer necessary.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":714845041370464256,"in_reply_to_status_id_str":"714845041370464256","in_reply_to_user_id":2244994945,"in_reply_to_user_id_str":"2244994945","in_reply_to_screen_name":"TwitterDev","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":102,"favorite_count":167,"favorited":false,"retweeted":false,"lang":"en"},"is_quote_status":false,"retweet_count":102,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/656927849\/miyt9dpjz77sc0w3d4vj.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/656927849\/miyt9dpjz77sc0w3d4vj.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2284174872\/7df3h38zabcvjylnyfe3_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2284174872\/7df3h38zabcvjylnyfe3_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/6253282\/1431474710","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular"}'
  recorded_at: Thu, 08 Sep 2016 04:51:29 GMT
recorded_with: VCR 3.0.3
