<h1>Welcome to TheBlockBot</h1>
<p>Protecting your social media accounts from unwanted attention</p>

<p><%= link_to '-> Add a user', controller: 'users' %></p>
<p><%= link_to '-> Show current blocks', controller: 'blocks' %></p>
