---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=@twitter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '181'
    body:
      encoding: ASCII-8BIT
      string: '{"id":783214,"id_str":"783214","name":"Twitter","screen_name":"twitter","location":"San
        Francisco, CA","profile_location":null,"description":"Your official source
        for news, updates and tips from Twitter, Inc. Need help? Visit https:\/\/t.co\/qq1HEzvnrA.","url":"http:\/\/t.co\/5iRhy7wTgu","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5iRhy7wTgu","expanded_url":"http:\/\/blog.twitter.com\/","display_url":"blog.twitter.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/qq1HEzvnrA","expanded_url":"http:\/\/support.twitter.com","display_url":"support.twitter.com","indices":[84,107]}]}},"protected":false,"followers_count":57097025,"friends_count":145,"listed_count":90478,"created_at":"Tue
        Feb 20 14:35:54 +0000 2007","favourites_count":2506,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":3244,"lang":"en","status":{"created_at":"Sat
        Oct 08 16:15:44 +0000 2016","id":784789384092454912,"id_str":"784789384092454912","text":"Tomorrow
        night: the presidential #debates are streaming LIVE on Twitter. Go to \u26a1\ufe0f
        Moments or\u2026 https:\/\/t.co\/cPse0TELin","truncated":true,"entities":{"hashtags":[{"text":"debates","indices":[33,41]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/cPse0TELin","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/784789384092454912","display_url":"twitter.com\/i\/web\/status\/7\u2026","indices":[94,117]}]},"source":"\u003ca
        href=\"https:\/\/studio.twitter.com\" rel=\"nofollow\"\u003eMedia Studio\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":432,"favorite_count":955,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"ACDED6","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/657090062\/l1uqey5sy82r9ijhke1i.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/657090062\/l1uqey5sy82r9ijhke1i.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/767879603977191425\/29zfZY6I_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/767879603977191425\/29zfZY6I_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/783214\/1471929200","profile_link_color":"226699","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F6F6F6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular"}'
  recorded_at: Sat, 08 Oct 2016 21:19:17 GMT
recorded_with: VCR 3.0.3
