---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/ids.json?cursor=-1&screen_name=@gitlab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"ids":[756873350467559424,296435644,178468263,711871506549248000,18254946,781010975617081344,781038130459713536,737123966528020481,779221993694441472,14942319,752168090859741184,19954320,2716293132,27089101,158777346,90455009,62819634,165834928,3925724719,63488740,174208496,1267770224,3263991011,14992448,15689233,104404294,81023088,35847528,1512940627,390039181,1873632409,4047763462,1758301,2590439471,195316687,12575912,2844681633,45470282,1461934632,37896186,39623693,29564445,780783710010351616,14244[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/ids.json?cursor=1534780060802393112&screen_name=@gitlab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"ids":[14716660,3388176095,3647117845,221591882,491705603,69011470,34031401,733288472803336192,706958290287255553[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=@gitlab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '181'
    body:
      encoding: ASCII-8BIT
      string: '{"id":390167291,"id_str":"390167291","name":"GitLab","screen_name":"gitlab","location":"","profile_location":null,"description":"GitLab
        is open source software to collaborate on code. Everyone can contribute. Follow
        @GitLabStatus for service information.","url":"https:\/\/t.co\/0jxyO1Cur2","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/0jxyO1Cur2","expanded_url":"https:\/\/www.gitlab.com\/","display_url":"gitlab.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":34227,"friends_count":302,"listed_count":785,"created_at":"Thu
        Oct 13 15:27:13 +0000 2011","favourites_count":3555,"utc_offset":7200,"time_zone":"Amsterdam","geo_enabled":false,"verified":false,"statuses_count":14517,"lang":"en","status":{"created_at":"Wed
        Sep 28 10:13:41 +0000 2016","id":781074394420568064,"id_str":"781074394420568064","text":"@desidalek
        good question, @bitbucket requires us to have that level of of access to be
        able to copy your issues to GitLab when you import.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"desidalek","name":"Exterminate
        !!!","id":67712697,"id_str":"67712697","indices":[0,10]},{"screen_name":"Bitbucket","name":"Atlassian
        Bitbucket","id":174379786,"id_str":"174379786","indices":[26,36]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/www.zendesk.com\" rel=\"nofollow\"\u003eZendesk\u003c\/a\u003e","in_reply_to_status_id":778533438915612673,"in_reply_to_status_id_str":"778533438915612673","in_reply_to_user_id":67712697,"in_reply_to_user_id_str":"67712697","in_reply_to_screen_name":"desidalek","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"333333","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/407996134\/bg.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/407996134\/bg.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/757993008461742080\/9pAwHBR0_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/757993008461742080\/9pAwHBR0_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/390167291\/1454354951","profile_link_color":"554488","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"474D57","profile_text_color":"CCCCCC","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Wed, 28 Sep 2016 10:48:42 GMT
recorded_with: VCR 3.0.3
