- model_class = Report
- if @report == nil
  .page-header
    %h1 Could not Access this Report
- else
  .page-header
    %h1= t '.title', :default => model_class.model_name.human.titleize
  %dl.dl-horizontal
    %dt
      %strong
        = model_class.human_attribute_name(:text)
        \:
    %dd= @report.text
  = link_to t('.back', :default => t("helpers.links.back")),
    reports_path, :class => 'btn btn-default'
